<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Law Search</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

<script>



var app = angular.module('solrapp', []);
angular.module('solrapp').
directive('searchResults', function () {
  return {
    scope: {
      solrUrl: '=',
      displayField: '=',
      query: '&',
      results: '&'
    },
    restrict: 'E',
    controller: function($scope, $http) {
    	if($scope.query.length<=1) $scope.query='*:*';
      console.log('Searching for ' + $scope.query + ' at ' + $scope.solrUrl);
      $scope.$watch('query', function() {
        $http(
          {method: 'JSONP',
           url: $scope.solrUrl,
           params:{'json.wrf': 'JSON_CALLBACK',
                  'q': $scope.query,
                  'fl': $scope.displayField,
                  'wt': 'json'
                  }
          })
          .success(function(data) {
            var docs = data.response.docs;
            console.log('search success!');
            $scope.results.docs = docs;

          }).error(function() {
            console.log('Search failed!');
          });
      });
    },
    template: '<input ng-model="query" name="Search"></input>' +
              '<h2>Search Results for </h2>' +
              '<table border=1px>'+
              '<tr><th>Fecha</th><th>Nro Origen</th><th>Nro Destino</th><th>Duracion</th></tr>'+
              '<tr ng-repeat="doc in results.docs">' +
              '  <td>{{doc.Fecha_Origen}}</td>'+
              '  <td>{{doc.Nro_Origen}}</td>'  +
              '  <td>{{doc.Nro_Destino}}</td>'+
              '  <td>{{doc.Duracion}}</td>'+
              '</tr>'
  };
});
</script>
</head>
<body>
<div ng-app="solrapp">Search Results
    <search-results solr-url="'http://lsi.no-ip.org:8983/solr/comunicaciones/select'" query="'*:*'" display-field="id"></search-results>
</div>

</body>
</html>
